.container-form {
    margin: 10px;
}

form {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.container-button {
    display: flex;
}

button {
    margin: 20px 15px 0 0;
    width: 15%;
}