html, body { 
	height: 100%; 
}

body { 
	margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.vertical-middle {
	vertical-align: middle;
}

.msg-success {
	--mdc-snackbar-container-color: #28a745; 
	--mdc-snackbar-supporting-text-color: #fff;
	--mat-mdc-snack-bar-button-color: #fff;
}

.msg-error {
	--mdc-snackbar-container-color: #e35e6b; 
	--mdc-snackbar-supporting-text-color: #fff;
	--mat-mdc-snack-bar-button-color: #fff;
}

.mat-mdc-card {
	--mdc-elevated-card-container-color: none !important;
	box-shadow: none !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled), .mat-drawer-container {
	background-color: transparent !important;
}

.container-form {
    margin: 10px;
}

form {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.container-button {
    display: flex;
}

/* 
Classes Material UI para snackbar (container para exibir mensagens):
.mat-mdc-snack-bar-container
	--mdc-snackbar-supporting-text-color: white (texto)
	--mdc-snackbar-container-color: green (background)
	--mat-mdc-snack-bar-button-color: white (cor botão fechar X) */
